<div class="icon-bar five-up">
  <a class="item">
    <i class="fa fa-heart"></i>
    <label>Home</label>
  </a>
  <a class="item">
    <i class="fa fa-question"></i>
    <label>About</label>
  </a>

  <div class="row title-container hide-for-small-only">
    <div small-2 column>
     <h1 class="welcome-wedistry">Wedistry</h1>
   </div>
  </div>

  <a class="item">
    <i class="fa fa-plane"></i>
    <label>Send Us Off!</label>
  </a>
  <a class="item">
    <i class="fa fa-home"></i>
    <label>Bring Us Home!</label>
  </a>
</div>

